.main {
  background-color: bisque;
  border-radius: 10px;
  ul {
    width: 100%;
    height: auto;
    padding-left: 0px !important;
  }
  li {
    position: relative;
    border-bottom: 1px solid #d7d7d7;
    list-style: none;
    color: black;
    font-family: "Pacifico", cursive;
    margin: 10px;
    font-size: 13px;
  }
  li {
    padding: 15px 0;
  }
  li:first-child {
    padding-top: 20px;
  }
  li:last-child {
    padding-bottom: 20px;
  }
  .stt {
    padding: 3px 10px;
    border-radius: 50%;
    color: aliceblue;
    margin-right: 5px;
  }
}
.trophy {
  position: absolute;
  right: 2px;
  i {
    font-size: 23px;
  }
}
